<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Enter Username</ion-label>
      <ion-input
        type="text" [(ngModel)]="userName" name="userName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input
        type="password"
        name="passcode"
        minlength="6"
        [(ngModel)]="passcode"
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="changepassword()">Change Password</ion-button>
</ion-content>
