<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Examiner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-tab-bar  color="medium" class="segment-card">
      <ion-tab-button class="segment-item">
        <ion-label class="segment-lable">
          FYP 1
        </ion-label>
      </ion-tab-button>
      <ion-tab-button class="segment-item">
        <ion-label class="segment-lable">
          FYP2
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</ion-content>

