<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div>
      <ion-tab-bar  color="medium" class="segment-card">
        <ion-tab-button class="segment-item">
          <ion-label class="segment-lable" (click)="changeGroup(userGroupID=0)">
            Admin
          </ion-label>
        </ion-tab-button>
        <ion-tab-button class="segment-item" (click)="changeGroup(userGroupID=1)">
          <ion-label class="segment-lable">
            Lecturer
          </ion-label>
        </ion-tab-button>
        <ion-tab-button class="segment-item" (click)="changeGroup(userGroupID=2)">
          <ion-label class="segment-lable">
            Student
          </ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </div>
    <ion-grid>
      <ion-item-sliding *ngFor="let item of allAccount">
        <ion-item >
          <ion-label>
            <h2>Username</h2>
            <h2>Name</h2>
            <h2>Email</h2>
          </ion-label>
          <ion-label >
            <p>{{item.userName}}</p>
            <p>{{item.profileName}}</p>
            <p>{{item.email}}
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options side="start" >
          <ion-item-option color="primary" expandable (click)="updateAccount(item)">
           Update
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end" >
          <ion-item-option color="danger" expandable (click)="delete(item.accountID)">
           Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addAccount()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
