<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div>
      <ion-tab-bar  color="medium" class="segment-card">
        <ion-tab-button class="segment-item">
          <ion-label class="segment-lable">
            Admin
          </ion-label>
        </ion-tab-button>
        <ion-tab-button class="segment-item">
          <ion-label class="segment-lable">
            Student
          </ion-label>
        </ion-tab-button>
        <ion-tab-button class="segment-item">
          <ion-label class="segment-lable">
            Lecturer
          </ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class= "table">
          Name
        </ion-col>
        <ion-col class= "table">
          Major
        </ion-col>
        <ion-col class= "table">
          Email
        </ion-col>
        <ion-col class= "table">
          Phone No.
        </ion-col>
        <ion-col class= "table">
          Student Limit
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
