<ion-header translucent>
  <ion-toolbar>
    <ion-title>Project Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item >
    <ion-label>
      <h2>Student Name</h2>
      <h2>Matric No.</h2>
      <h2>Email</h2>
      <h2>Phone Number</h2>
      <h2>Title</h2>
      <h2>Topic Type</h2>
      <h2>Skills</h2>
      <h2>Problem Statement</h2>
      <h2>Objective</h2>
      <h2>Outcome</h2>
      <h2>Description</h2>

    </ion-label>
    <ion-label>
      <p>{{studName}}</p>
      <p>{{matrixNo}}</p>
      <p>{{email}}</p>
      <p>{{phoenNum}}</p>
      <p>{{title}}</p>
      <p>{{topicType}}</p>
      <p>{{skill}}</p>
      <p>{{problemStmt}}</p>
      <p>{{objective}}</p>
      <p>{{outcome}}</p>
      <p>{{description}}</p>
    </ion-label>
  </ion-item>

   -->
   <ion-item>
    <ion-label>
      <h5>Student Name</h5>
      <p slot="end">{{studName}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Matric No.</h5>
      <p slot="end">{{matrixNo}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Email</h5>
      <p slot="end">{{email}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Phone Number</h5>
      <p slot="end">{{phoneNum}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Title</h5>
      <p slot="end">{{title}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Topic Type</h5>
      <p slot="end">{{topicType}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Skills</h5>
      <p slot="end">{{skill}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Problem Statement</h5>
      <p slot="end">{{problemStmt}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>
    <h5>Objective</h5>
    <p slot="end">{{objective}}</p>
   </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Outcome</h5>
      <p slot="end">{{outcome}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Description</h5>
      <p slot="end">{{description}}</p>
    </ion-label>
   </ion-item>
</ion-content>
