<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>FYP 1
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-tab-bar  color="medium" class="segment-card">
      <ion-tab-button class="segment-item" *ngFor="let item of allAssessmentData">
        <ion-label class="segment-lable" (click)="selectedAssessment(item)">
          {{item.assessmentName}}
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
  <ion-grid>
    <ion-label>{{this.assessmentName}}</ion-label>
    <ion-item>
      <p>FileName : {{file}}</p>
      <ion-button slot="end" size="small" (click)="openfile()" *ngIf="file">Open</ion-button>
    </ion-item>
    <ion-item *ngFor="let review of allAssessmentReviewData">
      <ion-label position="floating">{{review.roleName}} Comment</ion-label>
      <p>{{review.lectComment}}</p>
    </ion-item>
    <ion-item *ngFor="let approval of allAssessmentReviewData">
      <ion-label>
        <h2>{{approval.roleName}} Approval</h2>
      </ion-label>
      <ion-label>
        <p>
          <span *ngIf="approval.approvalID === '0' " style="color: red;">Waiting</span>
          <span  *ngIf="approval.approvalID === '1' " style="color: green;">Approved</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="uploadFile()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
