<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Topic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let topic of lectTopicData">
      <ion-item >
        <ion-label>
          <h2>Title</h2>
          <h2>Topic Type</h2>
        </ion-label>
        <ion-label>
          <p>{{topic.title}}</p>
          <p>{{topic.topicTypeName}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end" >
        <ion-item-option color="danger" expandable (click)="deleteTopic(topic.topicID)">
         Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
