<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Project Detail
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Supervisor</ion-label>
              <ion-select name="lectID" (ionChange)="selectedLecturer($event)">
                <ion-select-option value={{selectLecturer.accountID}} *ngFor="let selectLecturer of lecturers">{{selectLecturer.profileName}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Topic Type</ion-label>
              <ion-select required ngModel name="topicTypeID" (ionChange)="selectedTopicType($event)">
                <ion-select-option value={{selectTopicType.key}} *ngFor="let selectTopicType of topicByLecturer">{{selectTopicType.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-select required ngModel name="title" (ionChange)="selectedTittles($event)">
                <ion-select-option value="{{selectTitle.title}}" *ngFor="let selectTitle of tittles[0]">{{selectTitle.title}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Basic Skills</ion-label>
              <ion-textarea
                ngModel
                name="skill"
                required
                #skillCtrl="ngModel"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Problem Statement</ion-label>
              <ion-textarea
                ngModel
                name="problemstmt"
                required
                #problemstmtCtrl="ngModel"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Objective</ion-label>
              <ion-textarea
                ngModel
                name="objective"
                required
                #objectiveCtrl="ngModel"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Project Outcome</ion-label>
              <ion-textarea
                ngModel
                name="outcome"
                required
                #outcomeCtrl="ngModel"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Project Description</ion-label>
              <ion-textarea
                ngModel
                name="description"
                required
                minlength="6"
                #description="ngModel"
              ></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
           [disabled]="isDisble"
            type="submit"
            color="primary"
            expand="block"
          >
           Submit
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
