<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Project Detail
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Supervisor</ion-label>
              <ion-select name="lectID" (ionChange)="selectedLecturer($event)">
                <ion-select-option value={{selectLecturer.lectID}} *ngFor="let selectLecturer of topic">{{selectLecturer.lectName}}</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- <ion-item>
              <ion-label position="floating">Co-supervisor</ion-label>
              <ion-select name="cosupervisor">
                <ion-select-option></ion-select-option>
              </ion-select>
            </ion-item> -->
            <ion-item>
              <ion-label position="floating">Topic Type</ion-label>
              <ion-select required ngModel name="topicTypeID" (ionChange)="selectedTopicType($event)">
                <ion-select-option value={{selectTopicType.topicTypeID}} *ngFor="let selectTopicType of topicByLecturer">{{selectTopicType.topicTypeName}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-select required ngModel name="title" (ionChange)="selectedTopicType($event)">
                <ion-select-option value={{selectTopicType.title}} *ngFor="let selectTopicType of topicByLecturer">{{selectTopicType.title}}</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-input
                ngModel
                name="title"
                required
                #titleCtrl="ngModel"
              ></ion-input>
            </ion-item> -->
            <ion-item>
              <ion-label position="floating">Basic Skills</ion-label>
              <ion-input
                ngModel
                name="skill"
                required
                #skillCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Problem Statement</ion-label>
              <ion-input
                ngModel
                name="problemstmt"
                required
                #problemstmtCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Objective</ion-label>
              <ion-input
                ngModel
                name="objective"
                required
                #objectiveCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Project Outcome</ion-label>
              <ion-input
                ngModel
                name="outcome"
                required
                #outcomeCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Project Description</ion-label>
              <ion-input
                ngModel
                name="description"
                required
                minlength="6"
                #description="ngModel"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
          >
           Submit
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
