<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Student Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-label>
      <h5>Title</h5>
      <p slot="end">{{allStudentData.title}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Topic Type</h5>
      <p slot="end">{{allStudentData.topicTypeName}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Skills</h5>
      <p slot="end">{{allStudentData.skill}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Problem Statement</h5>
      <p slot="end">{{allStudentData.problemStmt}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>
    <h5>Objective</h5>
    <p slot="end">{{allStudentData.objective}}</p>
   </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Outcome</h5>
      <p slot="end">{{allStudentData.outcome}}</p>
    </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
      <h5>Description</h5>
      <p slot="end">{{allStudentData.description}}</p>
    </ion-label>
   </ion-item> -->
</ion-content>
